<main class="home_hero_container layut_lock_with">
    <div class="home_hero_container_image">
        <img src="resources\img\home\bolo-hero.png" alt="Bolo de aniversário de morango">
    </div>
    <div class="home_hero_container_text">
        <h1 class="font_family_title">Pra fazer da sua vida um lugar mais doce!</h1>
        <div class="home_hero_container_text_buttons">
            {{produtos}}
        </div>
    </div>
</main>

<section id="categorias" class="home_categoria_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_categoria_title  flex_center_justifyed-column font_family_title">CATEGORIAS DE BOLOS</h2>
    <div class="home_categoria_cards flex_center_justifyed-row">
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="resources\img\bolos\bolo_casamento2_ 1-1.webp" alt="Bolos de casamento" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CASAMENTO
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="resources\img\bolos\bolo_lol_surprise_1-1.webp" alt="Bolos de aniversário" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                ANIVERSÁRIO
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="resources\img\bolos\bolo_cha2_ 1_1.webp" alt="Bolos de chá de bebe" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CHÁ
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="resources\img\bolos\capcake2_1-1.webp" alt="CUPCAKES" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CUPCAKES
            </h3>
        </div>
    </div>
</section>
<section id="equipe" class="home_avaliacao_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_avaliacao_title  flex_center_justifyed-column font_family_title">AVALIAÇÕES DE CLIENTES</h2>
    <div class="home_avaliacao_people_container">
        <div class="home_avaliacao_people_container_image"></div>
        <div class="home_avaliacao_people_container_image"></div>
        <div class="home_avaliacao_people_container_image"></div>
    </div>
    <p class="home_avaliacao_comentario">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ducimus perferendis ab voluptatibus sint.
        Reiciendis?
    </p>
    <div class="home_avaliacao_nome"> Lorem, ipsum.</div>
</section>
<section class="home_integrantes_container flex_center_justifyed-column layut_lock_with">
    <div class="home_integrantes_text">
        <h2 class="font_family_title text-white">A&nbsp;GENTE</h2>
        <p>SOMOS UMA EQUIPE DISCIPLINADA :)</p>
    </div>
    <div class="home_integrantes_pessoas  ">
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\caina.jpg" alt="Cainã">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\marlon.jpg" alt="Marlon">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\miguel.jpg" alt="Miguel">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\heloisa.jpg" alt="Heloisa">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\eduardo.jpg" alt="Eduardo">
        </div>
    </div>
</section>