<main class="home_hero_container layut_lock_with">
    <div class="home_hero_container_image">
        <img src="resources\img\home\bolo-hero.png" alt="Bolo de aniversário de morango">
    </div>
    <div class="home_hero_container_text">
        <h1 class="font_family_title">Pra fazer da sua vida um lugar mais doce!</h1>
        <div class="home_hero_container_text_buttons">
            {{produtos}}
        </div>
    </div>
</main>

<section id="categorias" class="home_categoria_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_categoria_title  flex_center_justifyed-column">CATEGORIAS DE BOLOS</h2>
    <div class="home_categoria_cards flex_center_justifyed-row">
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="https://th.bing.com/th/id/OIP.Vdq96L_bcZvpgOtaYvwJugHaLH?pid=ImgDet&rs=1" alt="" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                TITULO
            </h3>
            <p class="home_categoria_card_categoria_content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae praesentium
                assumenda aspernatur accusantium deserunt commodi porro reprehenderit harum quas aliquam. A, similique.
            </p>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="https://th.bing.com/th/id/OIP.Vdq96L_bcZvpgOtaYvwJugHaLH?pid=ImgDet&rs=1" alt="" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                TITULO
            </h3>
            <p class="home_categoria_card_categoria_content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae praesentium
                assumenda aspernatur accusantium deserunt commodi porro reprehenderit harum quas aliquam. A, similique.
            </p>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="https://th.bing.com/th/id/OIP.Vdq96L_bcZvpgOtaYvwJugHaLH?pid=ImgDet&rs=1" alt="" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                TITULO
            </h3>
            <p class="home_categoria_card_categoria_content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae praesentium
                assumenda aspernatur accusantium deserunt commodi porro reprehenderit harum quas aliquam. A, similique.
            </p>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <img src="https://th.bing.com/th/id/OIP.Vdq96L_bcZvpgOtaYvwJugHaLH?pid=ImgDet&rs=1" alt="" srcset="">
            </div>
            <h3 class="home_categoria_card_categoria_title">
                TITULO
            </h3>
            <p class="home_categoria_card_categoria_content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, recusandae praesentium
                assumenda aspernatur accusantium deserunt commodi porro reprehenderit harum quas aliquam. A, similique.
            </p>
        </div>
    </div>
</section>
<section id="equipe" class="home_avaliacao_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_avaliacao_title  flex_center_justifyed-column">AVALIAÇÕES DE CLIENTES</h2>
    <div class="home_avaliacao_people_container">
        <div class="home_avaliacao_people_container_image"></div>
        <div class="home_avaliacao_people_container_image"></div>
        <div class="home_avaliacao_people_container_image"></div>
    </div>
    <p class="home_avaliacao_comentario">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam ducimus perferendis ab voluptatibus sint.
        Reiciendis?
    </p>
    <div class="home_avaliacao_nome"> Lorem, ipsum.</div>
</section>
<section class="home_integrantes_container flex_center_justifyed-column layut_lock_with">
    <div class="home_integrantes_text">
        <h2>A&nbsp;GENTE</h2>
        <p>SOMOS UMA EQUIPE DISCIPLINADA :)</p>
    </div>
    <div class="home_integrantes_pessoas  ">
        <div class="home_integrantes_pessoa"></div>
        <div class="home_integrantes_pessoa"></div>
        <div class="home_integrantes_pessoa"></div>
        <div class="home_integrantes_pessoa"></div>
        <div class="home_integrantes_pessoa"></div>
    </div>
</section>