<main class="home_hero_container layut_lock_with">
    <div class="home_hero_container_image">
        <img src="resources\img\home\bolo-hero.png" alt="Bolo de aniversário de morango">
    </div>
    <div class="home_hero_container_text">
        <h1 class="font_family_title">Pra fazer da sua vida um lugar mais doce!</h1>
        <div class="home_hero_container_text_buttons">
            {{produtos}}
        </div>
    </div>
</main>

<section id="categorias" class="home_categoria_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_categoria_title  flex_center_justifyed-column font_family_title">CATEGORIAS DE BOLOS</h2>
    <div class="home_categoria_cards flex_center_justifyed-row">
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <a href="bolos?categoria=casamento">
                    <img src="resources\img\bolos\bolo_casamento2_ 1-1.webp" alt="Bolos de casamento" srcset=""
                        href="google.com">
                </a>
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CASAMENTO
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <a href="bolos?categoria=Aniversário">
                    <img src="resources\img\bolos\bolo_lol_surprise_1-1.webp" alt="Bolos de aniversário" srcset="">
                </a>
            </div>
            <h3 class="home_categoria_card_categoria_title">
                ANIVERSÁRIO
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <a href="bolos?categoria=cha">
                    <img src="resources\img\bolos\bolo_cha2_ 1_1.webp" alt="Bolos de chá de bebe" srcset="">
                </a>
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CHÁ
            </h3>
        </div>
        <div class="home_categoria_card_categoria flex_center_justifyed-column">
            <div class="home_categoria_card_categoria_img">
                <a href="bolos?categoria=cupcake">
                    <img src="resources\img\bolos\capcake2_1-1.webp" alt="CUPCAKES" srcset="">
                </a>
            </div>
            <h3 class="home_categoria_card_categoria_title">
                CUPCAKES
            </h3>
        </div>
    </div>
</section>
<section id="equipe" class="home_avaliacao_container flex_center_justifyed-column layut_lock_with">
    <h2 class="home_avaliacao_title  flex_center_justifyed-column font_family_title">AVALIAÇÕES DE CLIENTES</h2>
    <div class="home_avaliacao_people_container">
        <p class="home_avaliacao_comentario">
            {{comentario}}
        </p>
    </div>
    <div class="home_avaliacao_people_container">
        <button class="button_confeitaria " id="ratesUsersBTN" data-toggle='modal' data-target='#ratesUsers'>Ver
            mais</button>
        <button class="button_confeitaria " data-toggle='modal' data-target='#rateUs'>Deixa um comentário</button>
    </div>
</section>
<section class="home_integrantes_container flex_center_justifyed-column layut_lock_with">
    <div class="home_integrantes_text">
        <h2 class="font_family_title text-white">A&nbsp;GENTE</h2>
        <p>SOMOS UMA EQUIPE DISCIPLINADA :)</p>
    </div>
    <div class="home_integrantes_pessoas  ">
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\caina.jpg" alt="Cainã">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\marlon.jpg" alt="Marlon">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\miguel.jpg" alt="Miguel">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\heloisa.jpg" alt="Heloisa">
        </div>
        <div class="home_integrantes_pessoa">
            <img src="resources\img\equipe\eduardo.jpg" alt="Eduardo">
        </div>
    </div>
</section>

<div class="modais_main_container_no_styling">
    <div class="modal" tabindex="-1" role="dialog" id="ratesUsers">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ">Comentários de outras pessoas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="height: 70vh;overflow: auto;">
                    <div class="cardsScroll">

                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="rateUs">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="comentarioUser">
                    <div class="modal-header">
                        <h5 class="modal-title ">Por favor deixe um comentário</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow: auto;">

                        <div class="form-group">
                            <label for="nomedousuario">Máximo 100 letras: </label>
                            <textarea name="comentarios" class="form-control" aria-label="With textarea" maxlength="100"
                                required></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <button type="button" id="buttonPost" class="btn btn-primary color-primary">
                            <a style="color: white !important;">Enviar comentário</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>