.home_hero_container {
    margin-top: 10vh;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "text" "image";
    grid-template-rows: auto clamp(200px, 20%, 400px);
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */
}

.home_hero_container>div {
    flex: 1;
}

.home_hero_container_image {
    grid-area: image;
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_hero_container_image img {
    width: 100%;
}

.home_hero_container_text {
    grid-area: text;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home_hero_container_text h1 {
    font-size: var(--clamp-h1-title);
}

.home_hero_container_text_buttons {}

@media screen and (min-width: 700px) {
    .home_hero_container {
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }

    .home_hero_container_text {
        text-align: left;
        height: auto;
        align-items: flex-start;
    }

    .home_hero_container_image {
        max-width: none;
    }
}

/*
CATEGORIAS DE BOLOS
*/

.home_categoria_container {
    width: 100%;
    padding: 1.25rem;
    min-height: 70vh;
    background-color: #a52a2a1c;
}

.home_categoria_title {
    color: var(--color_accent-primary);
    font-size: var(--clamp-h2-title);
    padding: 30px 0px;
    text-align: center;
}

.home_categoria_cards {
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.home_categoria_card_categoria {
    flex: 1;
    gap: .7rem;
    min-width: 10.375rem;
    max-width: 15rem;
    width: 100%;
}

.home_categoria_card_categoria_img {
    width: 70%;
    height: 70%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.home_categoria_card_categoria_img img {
    width: 100%;
}

.home_categoria_card_categoria_title {
    /* color: var(--color_accent-primary); */
    color: #303941;
}

.home_categoria_card_categoria_content {
    text-align: center;
    font-size: small;
    color: #64727b;
    line-height: 18px;
    font-weight: 400;
}

/*
AVALIAÇÃO DE CLIENTES
*/

.home_avaliacao_container {
    width: 100%;
    padding: 1.25rem;
    min-height: 50vh;
    background-color: white;
}

.home_avaliacao_title {
    color: var(--color_accent-primary);
    font-size: var(--clamp-h2-title);
    text-align: center;
}

.home_avaliacao_people_container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem;
}

.home_avaliacao_people_container_image {
    background-color: rgb(122, 0, 0);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.home_avaliacao_comentario {
    max-width: 400px;
    text-align: center;
    margin: 20px;
    color: #842A3E;
}

.home_avaliacao_nome {
    color: #842A3E;
    font-weight: 800;
}


.home_integrantes_container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--color_accent-primary);
}

.home_integrantes_text {
    align-self: flex-start;
    color: white;
    margin-bottom: 1.25rem;
}

.home_integrantes_text h2 {
    font-size: var(--clamp-h2-title);
}

.home_integrantes_pessoas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.home_integrantes_pessoa {
    flex: 1;
    width: 100%;
    min-width: 250px;
    max-width: 400px;
    /* height: 200px; */
    aspect-ratio: 1\1;
    background-color: rgba(255, 255, 255, 0.283);
}

.home_integrantes_pessoa img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 700px) {
    .home_integrantes_text {
        width: 30%;
    }

    .home_integrantes_pessoas {
        width: 70%;
        max-width: max-content;
    }
}