<footer class="footer">
    <hr style="width:100%; background: white;">
    <iframe id="maps"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15924.796120052426!2d-38.5749182!3d-3.7668215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa8888be05f940563!2sCentro%20Universit%C3%A1rio%20Est%C3%A1cio%20-%20Campus%20Parangaba!5e0!3m2!1spt-BR!2sbr!4v1664343164532!5m2!1spt-BR!2sbr"
        height="150px" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <hr style="width:100%; background: white;">
    <div id="texto"> © Worth Cakes | 2022 |   All right reserved</div>

</footer>

<style>
    .footer {
        background-color: var(--color_accent-primary);
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    footer #texto {
        font-style: normal;
        font-family: 'Ubuntu', sans-serif;
        color: #FFFFFF;
        font-weight: bold;

    }
</style>