<div class="card bg-light mb-3">
    <div class="card-header" id="id">ID do pedido: <p></p></div>
    <div class="card-body">
        <p class="card-text" id="desc">Descrição: <p></p></p>
        <p class="card-text"><small class="text-muted" id="nome">Nome do bolo: <p></p></small></p>
        <p class="card-text"><small class="text-muted" id="cat">Categoria: <p></p></small></p>
        <h5 class="card-text" id="preco">Preço: <h5></h5></h5>
    </div>
    <div class="card-footer text-muted">
        <p class="card-text" id="data">Data de entrega: <p></p></p>
    </div>
</div>